.totalContainer{
    width: 91%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 2rem 1rem;
    div{
        display: flex;
        flex-direction: column;
        column-gap: 10px;
        width: 8.625rem;
        height: 3.5rem;
        justify-content: space-between;
        padding: 0rem 1.3rem;

    }
    .resultValor{
        display: flex;
        color: var(--color-primary);
        align-items: flex-start;
    }
}

@media (min-width: 700px) {
    .totalContainer{
        width: 20.438rem;
        height: 6rem;
        padding: 1.625rem 1.25rem;
        margin: -2.375rem 13.75rem;
        flex-direction: row;
        div{
            height: 2.7rem;
        }
    }
}
@media (min-width: 1501px) {
    .totalContainer{
        margin-left: -29rem;

    }
}